@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
    }
    h1 {
        color: white;
        size: 30px;
    }
} @media (prefers-color-scheme: light) {
    body {
        background-color: white;
    }
    h1 {
        color: black;
        size: 30px;
    }
}
